%p
  =link_to "New Guest", new_guest_path

%p 
  Total Guests:
  %span.bold= @total_guests
  %br 
  Total Groups:
  %span.bold= @guest_count
%table
  %thead
    %th Name
    %th Location
    %th Count
  %tbody
  -@guests.each do |guest|
    %tr
      %td= link_to guest.name, guest_path(guest)
      %td= link_to "#{guest.city}, #{guest.state}", guest_path(guest)
      %td= link_to guest.count, guest_path(guest)

