= link_to 'New Budget Item', new_budget_item_path
%table#budget_table
  %thead
    %tr
      %th Title
      %th Units
      %th Rate
      %th Total
      %th
  %tbody
    -total = 0
    -@items.each do |item|
      -total += item.total
      %tr
        %td= item.title
        %td= item.units
        %td= number_to_currency item.rate
        %td{ :style => 'text-align:right;' }= number_to_currency item.total
        %td
          #{link_to "Edit", edit_budget_item_path(item)},
          #{link_to "Delete", budget_item_path(item), :method => :delete, :confirm => "You sure?"}
  %tfoot
    %tr
      %td
      %td
      %td
      %td{ :style => 'text-align:right;' }= number_to_currency total


