= link_to 'New Budget Item', new_budget_item_path
%br
= link_to 'New Payment', new_payment_path
%br
%br
%table#budget_table
  %thead
    %tr
      %th Title
      %th Units
      %th Rate
      %th.align-right Total
      %th.align-right Balance
      %th
  %tbody
    -@items.each do |item|
      %tr
        %td= link_to item.title, budget_item_path(item)
        %td= item.units
        %td= number_to_currency item.rate
        %td.align-right= number_to_currency item.total
        %td.align-right.bold{ :class => item.total == item.balance ? '' : 'blue-color' }
          = number_to_currency item.balance
  %tfoot
    %tr
      %td
      %td
      %td
      %td.align-right= number_to_currency @total
      %td.align-right= number_to_currency @balance


