%table
  = form_for @attendee do |f|
    - if @attendee.errors.any?
      #error_message
        %h5= "#{pluralize(@attendee.errors.count, 'error')} prohibited this attendee from being saved:"
        %ul
          - @attendee.errors.full_messages.each do |msg|
            %li= msg

    %tr
      %td
        = f.label :name
      %td
        = f.text_field :name, tabindex: 1
    %tr
      %td
        = f.label :invitation
      %td
        -options = Invitation.with_attendees_remaining
        -options << @attendee.invitation unless @attendee.new_record? || @attendee.invitation.attendees_remaining?
        = f.select :invitation_id, options_from_collection_for_select(options, :id, 'guest_name_with_remainaing_count', @attendee.invitation_id)
    %tr{ style: 'height:50px;' }
      %td
        = f.label :meal_id
      %td
        = f.select :meal_id, options_from_collection_for_select(Meal.all, :id, 'title', :meal_id), {}, tabindex: 3
    %tr
      %td
        = f.label :note
      %td
        = f.text_area :note, rows: 3
        

    %tr
      %td{ :colspan => 2}
        = f.submit 'Save', tabindex: 4
        -unless @attendee.new_record?
          =link_to 'Cancel', @attendee

=content_for :javascript do
  :javascript
    $(function() {
      $("#attendee_invitation_id").select2();
    });
