=content_for :title do
  Hayley & Chris, party of #{Attendee.count}

.row-fluid
  .span12
    =link_to "Meal Stats", table_stats_attendees_path
.row-fluid
  .span12
    - @attendees_by_table.each do |table_number, attendees|
      %div{ class: "span1"} 
        %h1
          #{table_number ? "#{table_number} " : "Head Table"}
        (
        %span.count><
          #{attendees.size}
        )
        %ul{ id: "sortable#{table_number}", class: 'connectedSortable unstyled', data: { table_number: table_number} }
          - attendees.each do |attendee|
            %li.ui-state-default{ data: { id: attendee.id }, title: attendee.guest_friendly_name } 
              #{attendee.name}

    %div{ class: "span1"}
      %h1 
        #{@attendees_by_table.size}
      (
      %span.count>< 0
      )
      %ul{ id: "sortable#{@attendees_by_table.size}", class: 'connectedSortable unstyled', data: { table_number: @attendees_by_table.size } }


= content_for :javascript do
  :javascript
    var evt, eui;
    $(function() {
      $(".connectedSortable").sortable({
        connectWith: ".connectedSortable",
        dropOnEmpty: true,
        receive: function(event, ui) {
          var table_counter = $(event.target).siblings('span.count');
          table_counter.html(parseInt(table_counter.html()) + 1);
          var new_table_number = $(ui.item[0].parentElement).data('table_number');
          var attendee_id = $(ui.item[0]).data('id');
          if(new_table_number == undefined) new_table_number = '';
          $.ajax({
            url: "/attendees/" + attendee_id,
            data: { 'attendee[table_number]': new_table_number },
            type: 'PUT',
            dataType: 'json'
          });
        },
        remove: function(event, ui) {
          evt = event;
          eui = ui;
          var table_counter = $(event.target).siblings('span.count');
          table_counter.html(parseInt(table_counter.html()) - 1);
        },
      });
    });

