.row
  .span1
    %ul.nav.nav-list
      %li= link_to 'Edit', edit_attendee_path(@attendee)
      %li= link_to 'List', attendees_path
      %li.divider
      %li= link_to "Delete", attendee_path(@attendee), :method => :delete, :confirm => "You sure?"
  .span11
    %dl
      %dt
        Attendee Name
      %dd
        =@attendee.name
    %dl
      %dt
        Guest Name
      %dd
        = link_to(guest_path(@attendee.guest)) do
          =@attendee.guest_name
          (#{@attendee.guest_friendly_name})
    %dl
      %dt
        Meal
      %dd
        =@attendee.meal_title

    - unless @attendee.note.blank?
      %dl
        %dt Note
        %dd= @attendee.note

