= form_tag rsvp_response_path, :class => 'form-horizontal' do
  .control-group
    = label_tag :will_come_yes, 'I will be delighted to attend.', :class => 'control-label'
    .controls
      = radio_button_tag :will_come, 'yes', :checked => true
  .control-group
    = label_tag :will_come_no, 'Unfortunately, I am unable to attend.', :class => 'control-label'
    .controls
      = radio_button_tag :will_come, 'no', :checked => true

  %h3 Meals:
  -Meal.all.each do |meal|
    %dt= meal.title
    %dd= meal.description

  .clear
  %br
  %h4 Selections:
  -@invitation.guest.count.times do |i|
    .control-group
      = label_tag "names[#{i}]", 'Guest Name', :class => 'control-label'
      .controls
        = text_field_tag "names[#{i}]"
    .control-group
      = label_tag "meals[#{i}]", 'Meal Selection', :class => 'control-label'
      .controls
        = select_tag "meals[#{i}]", options_from_collection_for_select(Meal.all, :id, :title)
    %hr

  .form-actions
    = submit_tag 'RSVP!', :class => "btn btn-primary"
  
