!!!
%html
  %head
    %title 
      -if @title
        =@title
        |
      Crayley: for officials
    = favicon_link_tag
    = stylesheet_link_tag 'application'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Great+Vibes'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montez'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Delius'

    =yield :header
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => '/' }
            Hayley Facer & Christopher Marshall
          %ul.nav
            %li= link_to 'Home', root_path
            %li= link_to 'Info', info_path
            %li= link_to 'Pics', pics_path
            %li= link_to 'Game', game_path
            %li= link_to 'Registry', registry_path
            -if user_signed_in?
              %li= link_to 'Guests', guests_path
              %li= link_to 'Invitations', invitations_path
              %li= link_to 'Budget', budget_items_path
          %ul.nav.pull-right
            -if user_signed_in?
              %li=link_to current_user.email, sign_out_path
              %li=link_to 'Sign Out', sign_out_path
            -else
              %li=link_to 'Sign In', sign_in_path
    .container-fluid
      .page-header
        %h1= @title if @title
      .row
        .span6
          -if notice
            .alert= notice
          -if alert
            .alert.alert-error= alert
          -if flash[:success]
            .alert.alert-success= flash[:success]
      .row
        #main_content.span12
          = yield
        %br
        %br
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          Copyright #{Date.today.year} Chris Marshall & Hayley Facer

    = javascript_include_tag 'application'
    = yield :javascript
    = analytics_init if Rails.env.production?
