!!!
%html
  %head
    %title Crayley: for officials
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = stylesheet_link_tag 'site.css', :media => 'screen, projection'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Sunshiney'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montez'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Delius'

    =yield :header
  %body.bp
    .container
      #header.span-24.last
        %h2{ :style => "float:left;"}
          Hayley Facer & Christopher Marshall 
        %h3{ :style => "float:right;"}
          7.21.12
      .container.span-24
        .span-4
          %ul#top_nav
            %li= link_to 'Home', root_path
            %li= link_to 'Pics', pics_path
            %li= link_to 'Game', game_path

        #main_content.span-18.append-2.last
          = yield
      #footer.span-22.prepend-2.last
    = javascript_include_tag 'jquery-1.6.1.min.js'
    = yield :javascript
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12130430-4']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
