!!!
%html
  %head
    %title Invitation Inserts
    = stylesheet_link_tag 'invitation_inserts'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montez'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Delius'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Great+Vibes'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Alegreya+SC'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Italianno'

    =yield :header
  %body
    =yield

    =javascript_include_tag 'application'
    =yield :javascript

