!!!
%html
  %head
    %title 
      -if @title
        =@title
        |
      Crayley: for officials
    = favicon_link_tag
    = stylesheet_link_tag 'welcome'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montez'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Delius'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Great+Vibes'

    =yield :header
  %body
    .navbar.navbar-fixed-top.malibu-bg
      .navbar-inner
        .container
          %a.brand{ :href => '/' }
            Hayley Facer & Christopher Marshall
          %ul.nav.pull-right
            %li
              -if user_signed_in?
                =link_to 'Sign Out', sign_out_path
              -else
                =link_to 'Sign In', sign_in_path
            %li.brand 7.21.2012
    .container
      .row
        .span1
          %ul.nav.nav-pills.nav-stacked
            %li= link_to 'Home', root_path
            %li= link_to 'News', news_path
            %li= link_to 'Info', info_path
            %li= link_to 'Pics', pics_path
            -#%li= link_to 'Game', game_path
            %li= link_to 'Registry', registry_path
            -if user_signed_in?
              %li= link_to 'Guests', guests_path
              %li= link_to 'Budget', budget_items_path
        .span11
          -if @title
            .page-header.font-montez{ :class => pick_color }
              %h1= @title
          =yield
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          Copyright #{Date.today.year} Chris Marshall & Hayley Facer

    =javascript_include_tag 'application'
    =yield :javascript
